@import '../../css/scss/abstracts/variables';
@import '../../css/scss/abstracts/mixins';

/*------------------------------------*\
    #TEXTAREA FIELD
\*------------------------------------*/

/**
 * 1) 
 */
.c-textarea-field {
}
