@import '../abstracts/variables';

.u-margin-none {
  margin: 0 !important;
}

.u-margin-small {
  margin: $spacing-small !important;
}

.u-margin-medium {
  margin: $spacing !important;
}

.u-margin-large {
  margin: $spacing-large !important;
}

.u-margin-top-none {
  margin-top: 0 !important;
}

.u-margin-top-small {
  margin-top: $spacing-small !important;
}

.u-margin-top-medium {
  margin-top: $spacing !important;
}

.u-margin-top-large {
  margin-top: $spacing-large !important;
}

.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

.u-margin-bottom-small {
  margin-bottom: $spacing-small !important;
}

.u-margin-bottom-medium {
  margin-bottom: $spacing !important;
}

.u-margin-bottom-large {
  margin-bottom: $spacing-large !important;
}
