@import '../../css/scss/abstracts/variables';
@import '../../css/scss/abstracts/mixins';

/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/

/**
 * 1) Container that consists of of a page header title and description
 */
.c-page-header {
  margin-bottom: 2rem;
}

/**
 * Page header title
 */
.c-page-header__title {
  margin-bottom: 0.5rem;
}
