@import '../../css/scss/abstracts/variables';
@import '../../css/scss/abstracts/mixins';

/*------------------------------------*\
    #INLINE CHECKBOX
\*------------------------------------*/

/**
 * 1) 
 */
.c-inline-checkbox {
}
