@import '../../css/scss/abstracts/variables';
@import '../../css/scss/abstracts/mixins';

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/**
 * 1) Global footer at the bottom of each page that contains a navigation and other information.
 */
.c-footer {
  background: $color-neutral-gray-93;
  color: $color-neutral-white;
  padding: $spacing;
}

.c-footer__copyright {
  margin-top: 2rem;
  text-align: center;
}
