@import '../../css/scss/abstracts/variables';
@import '../../css/scss/abstracts/mixins';

/*------------------------------------*\
    #CHECKBOX FIELD
\*------------------------------------*/

/**
 * 1) 
 */
.c-checkbox-field {
}
