@import '../../css/scss/abstracts/variables';
@import '../../css/scss/abstracts/mixins';

/*------------------------------------*\
    #FOOTER NAV
\*------------------------------------*/

/**
 * 1) Navigation within the footer
 */
.c-footer-nav__list {
  display: flex;
}

.c-footer-nav__item {
  margin-right: 2rem;
}

.c-footer-nav__link {
  color: $color-neutral-white;
}
